<div class="img-user">
    <img id="img-user" src="../../../assets/icons/user_icon.jpg">
</div>
<div class="logo">
    <img id="logo" src="../../../assets/icons/compact_logo.png">
    <h1>Hi John, what would you like to do?</h1>
</div>
<div class="div-btn">
    <div class="inner">
        <button class="btn" id="sitcons" (click)="goToPage('video')">Watch movies and sitcons</button>
        <button class="btn" id="podcasts" (click)="goToPage('audio')">Listen music and podcasts</button>
    </div>
</div>