
<div class="w3-container">
    <div id="id01" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-teal"> 
          <span  id="close" onclick="document.getElementById('id01').style.display='none'" 
          class="w3-button w3-large w3-display-topright">&times;</span>
        </header>
        <div class="w3-container">
            <video width="870" height="600" controls id="video">
                <source src="../../../assets/videoplayback.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="header">
        <div class="logo">
            <img id="logo" src="../../../assets/icons/compact_logo.png" alt="">
        </div>
    </div>
    <div class="search">
        <input id="search" type="text" placeholder="Search...">
    </div>
    <h3 id="p">Popular Movies</h3>
    <div class="popular">
        <div class="p2">
            <img class="img" src="../../../assets/filmes/movie_2.jpg" alt="">
        </div>
        <div class="p3">
            <img class="img" src="../../../assets/filmes/movie_3.jpg" alt="">
        </div>
        <div class="p4">
            <img class="img" src="../../../assets/filmes/movie_4.jpg" alt="">
        </div>
        <div class="p5">
            <img class="img" src="../../../assets/filmes/movie_5.jpg" alt="">
        </div>
        <div class="p6">
            <img class="img" src="../../../assets/filmes/movie_6.jpg" alt="">
        </div>
        <div class="p7">
            <img class="img" src="../../../assets/filmes/movie_7.jpg" alt="">
        </div>
        <div class="p8">
            <img class="img" src="../../../assets/filmes/movie_8.jpg" alt="">
        </div>
        <div class="p9">
            <img class="img" src="../../../assets/filmes/movie_9.jpg" alt="">
        </div>
        <div class="p10">
            <img class="img" src="../../../assets/filmes/movie_10.jpg" alt="">
        </div>
        <div class="p1">
            <img class="img" src="../../../assets/filmes/movie_1.jpg" alt="">
        </div>
    </div>
    <h3 id="t">Trending Series</h3>
    <div class="trending">
        <div class="p2">
            <img class="img" src="../../../assets/series/sitcom_1.jpeg" alt="">
        </div>
        <div class="p3">
            <img class="img" src="../../../assets/series/sitcom_2.jpg" alt="" (click)="redirect()">
        </div>
        <div class="p4">
            <img class="img" src="../../../assets/series/sitcom_3.jpg" alt="">
        </div>
        <div class="p5">
            <img class="img" src="../../../assets/series/sitcom_4.jpg" alt="">
        </div>
        <div class="p6">
            <img class="img" src="../../../assets/series/sitcom_5.jpg" alt="">
        </div>
        <div class="p7">
            <img class="img" src="../../../assets/series/sitcom_6.jpg" alt="">
        </div>
        <div class="p8">
            <img class="img" src="../../../assets/series/sitcom_7.jpg" alt="">
        </div>
        <div class="p9">
            <img class="img" src="../../../assets/series/sitcom_8.jpg" alt="">
        </div>
        <div class="p10">
            <img class="img" src="../../../assets/series/sitcom_9.jpg" alt="">
        </div>
        <div class="p1">
            <img class="img" src="../../../assets/series/sitcom_10.jpg" alt="">
        </div>
    </div>
    <h3 id="d">Documentary</h3>
    <div class="documentary">
        <div class="d2">
            <img class="img" src="../../../assets/documentarios/documentary_1.jpg" alt="">
        </div>
        <div class="d3">
            <img class="img" src="../../../assets/documentarios/documentary_2.jpg" alt="">
        </div>
        <div class="d4">
            <img class="img" src="../../../assets/documentarios/documentary_3.jpg" alt="">
        </div>
        <div class="d5">
            <img class="img" src="../../../assets/documentarios/documentary_4.jpg" alt="">
        </div>
        <div class="d6">
            <img class="img" src="../../../assets/documentarios/documentary_5.jpg" alt="">
        </div>
        <div class="d7">
            <img class="img" src="../../../assets/documentarios/documentary_6.jpg" alt="">
        </div>
        <div class="d8">
            <img class="img" src="../../../assets/documentarios/documentary_7.jpg" alt="">
        </div>
        <div class="d9">
            <img class="img" src="../../../assets/documentarios/documentary_8.jpg" alt="">
        </div>
        <div class="d10">
            <img class="img" src="../../../assets/documentarios/documentary_9.jpg" alt="">
        </div>
        <div class="d10">
            <img class="img" src="../../../assets/documentarios/documentary_10.jpg" alt="">
        </div>
    </div>
</div>