<div class="footer">
    <div class="icons">
        <div class="i1">
            <img class="icon" src="../../../assets/icons/home_icon.png" alt="" title="Home" routerLink="home">
        </div>
        <div class="i2">
            <img class="icon" src="../../../assets/icons/explore_icon.png" alt="" title="Explore">
        </div>
        <div class="i3">
            <img class="icon" src="../../../assets/icons/clapperboard_icon.png" alt="" title="Movies & Sitcons" routerLink="video">
        </div>
        <div class="i4">
            <img class="icon" src="../../../assets/icons/music_icon.png" alt="" title="Music & Podcasts" routerLink="audio">
        </div>
        <div class="i5">
            <img class="icon" src="../../../assets/icons/additional-plus-icon-vector_icon.jpg" alt="" title="My List">
        </div>
    </div>
</div>