<div class="container">
    <div class="header">
        <div class="logo">
            <img id="logo" src="../../../assets/icons/compact_logo.png" alt="">
        </div>
    </div>
    <div class="search">
        <input id="search" type="text" placeholder="Search..." (keyup.enter)="search()">
    </div>
    <h3 id="p">Recently</h3>
    <div class="popular">
        <div class="p2">
            <img class="img" src="../../../assets/playlists/1_playlist.png" alt="">
        </div>
        <div class="p3">
            <img class="img" src="../../../assets/playlists/2_playlist.jpg" alt="">
        </div>
        <div class="p4">
            <img class="img" src="../../../assets/playlists/3_playlist.jpg" alt="">
        </div>
        <div class="p5">
            <img class="img" src="../../../assets/playlists/4_playlist.jpeg" alt="">
        </div>
        <div class="p6">
            <img class="img" src="../../../assets/playlists/5_playlist.jpg" alt="">
        </div>
        <div class="p7">
            <img class="img" src="../../../assets/playlists/6_playlist.jpg" alt="">
        </div>
        <div class="p8">
            <img class="img" src="../../../assets/playlists/7_playlist.jpg" alt="">
        </div>
        <div class="p9">
            <img class="img" src="../../../assets/playlists/8_playlist.jpeg" alt="">
        </div>
        <div class="p10">
            <img class="img" src="../../../assets/playlists/9_playlist.jpeg" alt="">
        </div>
        <div class="p1">
            <img class="img" src="../../../assets/playlists/10_playlist.jpeg" alt="">
        </div>
    </div>
    <h3 id="t">Recommend</h3>
    <div class="trending">

        <div class="p2">
            <img class="img" src="../../../assets/playlists/11_playlist.jpg" alt="">
        </div>
        <div class="p3">
            <img class="img" src="../../../assets/playlists/12_playlist.jpg" alt="">
        </div>
        <div class="p4">
            <img class="img" src="../../../assets/playlists/13_playlist.jpg" alt="">
        </div>
        <div class="p5">
            <img class="img" src="../../../assets/playlists/14_playlist.png" alt="">
        </div>
        <div class="p6">
            <img class="img" src="../../../assets/playlists/15_playlist.jpg" alt="">
        </div>
        <div class="p7">
            <img class="img" src="../../../assets/playlists/16_playlist.png" alt="">
        </div>
        <div class="p8">
            <img class="img" src="../../../assets/playlists/17_playlist.jpg" alt="">
        </div>
        <div class="p9">
            <img class="img" src="../../../assets/playlists/18_playlist.jpg" alt="">
        </div>
        <div class="p10">
            <img class="img" src="../../../assets/playlists/19_playlist.jpg" alt="">
        </div>
        <div class="p1">
            <img class="img" src="../../../assets/playlists/20_playlist.jpg" alt="">
        </div>
    </div>
    <h3 id="d">Made for you</h3>
    <div class="documentary">
        <div class="p2">
            <img class="img" src="../../../assets/playlists/21_playlist.jpg" alt="">
        </div>
        <div class="p3">
            <img class="img" src="../../../assets/playlists/22_playlist.jpg" alt="">
        </div>
        <div class="p4">
            <img class="img" src="../../../assets/playlists/23_playlist.jpg" alt="">
        </div>
        <div class="p5">
            <img class="img" src="../../../assets/playlists/24_playlist.jpg"alt="">
        </div>
        <div class="p6">
            <img class="img" src="../../../assets/playlists/25_playlist.jpg" alt="">
        </div>
        <div class="p7">
            <img class="img" src="../../../assets/playlists/26_playlist.jpg" alt="">
        </div>
        <div class="p8">
            <img class="img" src="../../../assets/playlists/27_playlist.jpg" alt="">
        </div>
        <div class="p9">
            <img class="img" src="../../../assets/playlists/28_playlist.jpg" alt="">
        </div>
        <div class="p10">
            <img class="img" src="../../../assets/playlists/29_playlist.jpg" alt="">
        </div>
        <div class="p1">
            <img class="img" src="../../../assets/playlists/30_playlist.jpg" alt="">
        </div>
    </div>
</div>